spring:
  application:
    name: taskspree

  # Database Configuration
  datasource:
    url: jdbc:postgresql://localhost:5432/taskspree
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  # Flyway Configuration
  flyway:
    enabled: true
    locations:
      - classpath:db/migration/users

  # JPA / Hibernate Settings
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  # Docker Compose Configuration
  docker:
    compose:
      enabled: false

  logging:
    level:
      org.flywaydb: DEBUG