spring:
  application:
    name: taskspree
  threads:
    virtual:
      enabled: true
  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations:
      - classpath:db/migration/users
      - classpath:db/migration/identity
      - classpath:db/migration/storage
      - classpath:db/migration/marketplace

  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 100MB

# Server Configuration
server:
  port: 5000

# OpenAPI / Swagger Configuration
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
